@import 'fonts.css';

/*-----------------------------------------ROOT SETTINGS START ---------------------------------------- */
*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --body-ft-txt-color: #ffffff;
    --footer-color: #060503;
    --column-width-1:calc(100%12*1);
    --column-width-2:calc(100%12*2);
    --column-width-3:calc(100%12*3);
    --column-width-4:calc(100%12*4);
    --column-width-5:calc(100%12*5);
    --column-width-6:calc(100%12*6);
    --column-width-7:calc(100%12*7);
    --column-width-8:calc(100%12*8);
    --column-width-9:calc(100%12*9);
    --column-width-10:calc(100%12*10);
    --column-width-11:calc(100%12*11);
    --column-width-12:calc(100%12*12);
    --color-call-me-h1: #68bf3b;
    --color-full-menu-order: #68cd16;
    --color-full-menu: rgba(103, 191, 59, 0.30);
    --h3-paragraph-color: #a6a6a6;
    --montserrat-bold: 'Montserrat Bold';
    --montserrat-black: 'Montserrat Black';
    --montserrat-regular: 'Montserrat Regular';
    --montserrat-light: 'Montserrat Light';
    --montserrat-thin: 'Montserrat Thin';
    --txt-trannsform: uppercase;
    --border-rad: 30px;


}

.justify-content-between{
    justify-content: space-between;
    background: linear-gradient(to left: #55ad0d, );
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.display-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}


/*-----------------------------------------ROOT SETTINGS END ----------------------------------------- */
/*-----------------------------------------HEADER SETTINGS START ----------------------------------------- */
body{
    background: var(--body-ft-txt-color);
}
header{
    background: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 768px;  
}
.container{
    max-width: 1110px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
 header .container .header-item-1{
     margin-bottom: 100px;
     padding-top: 30px;
 } 
 .logo{
     color: var(--body-ft-txt-color);
     font-family: var(--montserrat-regular);
     font-size: 24px;
     text-transform: var(--txt-trannsform);
 }
 .header-item-1 ul li a{
     font-family: var(--montserrat-regular);
     color: var(--body-ft-txt-color);
     font-size: 24px;
     margin-right: 87px;
 }
 .call-me{
     padding: 18px 27px 17px 26px;
     display: block;
     background: var(--color-call-me-h1);
     font-size: 16px;
     font-family: var(--montserrat-regular);
     border-radius: var(--border-rad);
 }
 .header-item-2 p{
     font-family: var(--montserrat-black);
     font-size: 18px;
     color: var(--body-ft-txt-color);
     text-transform: var(--txt-trannsform);
 }
 .header-item-2 h1{
     font-family: var(--montserrat-black);
     font-size: 72px;
     color: var(--body-ft-txt-color);
     text-transform: var(--txt-trannsform);
     margin: 35px 0 40px 0;
 }
 .header-item-2 p:nth-child(3){
     font-family: var(--montserrat-regular);
     font-size: 18pxpx;
     color: var(--body-ft-txt-color);
     text-transform: var(--txt-trannsform);
 }
 .header-item-2 a{
     padding: 18px 44px 20px 43px;
     display: inline-block;
     background: var(--color-full-menu-order);
     font-size: 16px;
     font-family: var(--montserrat-regular);
     border-radius: var(--border-rad);
     margin-top: 50px;
     color: var(--body-ft-txt-color);
 }
main .container{
    margin-top: 82px;
}
.main-photo{
    margin-right: 34px;
    width: var(--column-width-4);
}
.main-text{
    width: var(--column-width-8);
}
.main-text h2{
    font-family: var(--montserrat-bold);
    font-size: 36px;
    color: var(--color-call-me-h1);
    padding: 27px 0 65px;
}
.main-text p{
    font-family: var(--montserrat-regular);
    font-size: 18px;
    color: var(--h3-paragraph-color);
}
.main-text .second span{
    color: var(--h3-paragraph-color);
    font-family: var(--montserrat-bold);
    font-size: 24px;
}
.menu{
    font-family: var(--montserrat-bold);
    font-size: 36px;
    color: var(--color-full-menu);
    text-transform: uppercase;
    margin-bottom: 50px;
}
.items{
    max-width: 1110px;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
}
.items .pizza-img{
    /*margin-right: 32px;*/
    width: var(--column-width-4);
    position: relative;
}
.items .pizza-img span{
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 24px 12px;
    background: var(--color-full-menu-order);
    font-family: var(--montserrat-bold);
    font-size: 18px;
    color: var(--body-ft-txt-color);
    border-radius: 50%;
}
.pizza-text{
    max-width: 730px;
    width: 100%;
}
.items .pizza-text h3{
    font-family: var(--montserrat-bold);
    font-size: 30px;
    color: var(--h3-paragraph-color);
    margin-top: 29px;
    margin-bottom: 33px;
    text-transform: uppercase;
}
.items .pizza-text ul li{
    font-family: var(--montserrat-regular);
    font-size: 14px;
    color: var(--h3-paragraph-color);
}
.order p{
    font-family: var(--montserrat-bold);
    font-size: 30px;
    color: var(--h3-paragraph-color);
    margin-top: 46px;
    margin-bottom: 32px;
}
.order span{
    font-family: var(--montserrat-light);
    color: var(--h3-paragraph-color);
}
.order a{
    padding: 18px 33px 20px 30px;
    display: inline-block;
    color: var(--body-ft-txt-color);
    font-family: var(--montserrat-regular);
    font-size: 16px;
    background: var(--color-full-menu-order);
    border-radius: var(--border-rad);
}
main .container:nth-child(3){
    margin-top: 100px;
    margin-bottom: 100px;
}
.bottom-girls{
    text-align: center;
    width: var(--column-width-4);
}
.bottom-girls h3{
    font-family: var(--montserrat-bold);
    font-size: 14px;
    color: var(--h3-paragraph-color);
    text-transform: uppercase;
    margin: 29px 0 18px;
}
.bottom-girls p{
    font-family: var(--montserrat-regular);
    font-size: 14px;
    color: var(--h3-paragraph-color);
}
footer{
    background: var(--footer-color);
}
footer .container .header-item-1{
    padding-top: 30px;

}
footer p{
    font-family: var(--montserrat-thin);
    font-size: 16px;
    color: var(--body-ft-txt-color);
    text-align: center;
    padding: 50px 0 58px;
}






























/*-----------------------------------------HEADER SETTINGS END ----------------------------------------- */